.markdown>table thead th, .table thead th {
    background: var(--tblr-bg-surface-tertiary);
    font-size: .75rem;
    font-weight: var(--tblr-font-weight-medium);
    text-transform: uppercase;
    letter-spacing: .04em;
    line-height: 1rem;
    color: var(--tblr-secondary);
    padding-top: .5rem;
    padding-bottom: .5rem;
    white-space: nowrap;
}