// Import Bootstrap first (using @import since it needs to be globally available)
// Custom styles after to override Bootstrap
@import 'bootstrap/scss/bootstrap';
@import './site/navbar';
@import './site/section';
@import './site/gallery';