    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        color: #ffffff;
        line-height: 1.2;
    }

    .btn-primary {
        background-color: #ffffff;
        color: #000000;
        border: none;
        padding: 15px 20px;
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;
        transition: opacity 0.3s ease;
        border-radius: 0;
        min-width: 400px;
        font-size: 30px;


        &:hover {
            opacity: 0.8;
            background-color: #ffffff;
            color: #000000;
        }
    }

    .hero-section {
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: hidden;

        .hero-video {
            /* center and cover using min-width/min-height to avoid gaps */
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            object-fit: cover;
            pointer-events: none;
            will-change: transform;
            z-index: -1;
            /* sit behind page content */
        }
    }


    .section-white {
        position: relative;
        background-color: #ffffff;

        img {
            width: 15vw;
            height: auto;
            object-fit: contain;
            margin: auto auto;
        }

    }

    .section-brand {
        padding: 10vh 0;

        h1 {
            font-size: 70px;
            line-height: 1;
            font-weight: bold;
        }

        p {
            font-size: 55px;
            margin-top: 60px;
        }
    }

    .section-register {
        background-color: black;
        padding-top: 100px;
        padding-bottom: 150px;

        .button-container {
            margin-top: 100px;
            display: flex;
            justify-content: center;
            gap: 40px;

            a {
                display: inline-block;
            }
        }

        p {
            font-size: 30px;
            margin-bottom: 30px;
            font-weight: 300;
        }
    }

    .section-with-image {
        height: 100vh;
        padding: 0;
        overflow: hidden;
        margin: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .section-with-cards {
        background-color: #000000;
        padding: 0;
        margin: 0;

        .white {
            background-color: #ffffff;
            color: #000000;

            .number {
                color: #000000;
            }

            .title {
                color: #000000;
            }

            .description {
                color: #000000;
            }

        }

        .content-container {
            padding: 4vw;
            text-align: center;

            .number {
                font-size: 45px;
                font-weight: 400;
                margin-bottom: 0px;
            }

            .title {
                font-size: 50px;
                font-weight: bold;
                margin-bottom: 40px;
            }

            .description {
                font-size: 15px;
                font-weight: 300;
                margin-bottom: 30px;
                line-height: 25px;
            }
        }
    }